::selection {
	background: transparent;
	/* WebKit/Blink Browsers */
}
::-moz-selection {
	background: transparent;
}
.title-bar {
	width: 100%;
	height: 10px;
	background: black;
}
* {
	-webkit-box-sizing: border-box;
	text-decoration: none;
	-mox-sizing: border-box;
	box-sizing: border-box;
	border: 0px solid red;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
*:focus {
	outline: none
}
:root {
	--mainradius: 15px;
	--mainColor: #2f669a;
	--mainColorDark: #25517c;
	--secondaryColor: #418855;
	--tertiaryColor: #b99a42;
	--errorColor: #AD3C3B;
	--mainRadius: 10px;
}
h3 {
	margin: 5px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
	font-size: 17px;
}
.arkbuddy-app {
	background: var(--mainColor);
	border: 0px solid #000;
	width: 1073px;
	height: 674px;
	position: relative;
	border-radius: var(--mainRadius);
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-wrap: wrap;
	border: 3px solid #000;
}
.side-nav-bar {
	background: var(--mainColorDark);
	position: absolute;
	left: 0;
	top: 30px;
	bottom: 0;
	border-right: 3px solid #000;
	width: 85px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.logo-box {
	width: 100%;
	padding: 8px;
	padding-top: 15px;
	margin-bottom: 25px;
}
.logo-box img {
	width: 100%;
	filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}
.nav-btn {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--mainRadius);
	color: #fff;
	text-align: center;
	flex-direction: column;
	color: rgba(255, 255, 255, 0.5);
	font-size: 13px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	transition: 0.333s;
}
.nav-btn:hover {
	background: rgba(0, 0, 0, 0.33);
}
.nav-btn .far, .nav-btn .fab {
	font-size: 22px;
	display: block;
	color: rgba(255, 255, 255, 0.95);
	margin: 3px;
}
.bottom {
	margin-top: auto;
	margin-bottom: 5px;
}
#app {
	width: 550px;
	height: 100%;
	min-height: 675px;
	display: inline-block;
	margin-left: 85px;
	padding: 10px;
	overflow: auto;
}
.ad-space {
	width: 420px;
	height: 86%;
	display: inline-block;
	position: relative;
	border-left: 1px solid rgba(0,0,0,0.25);
}
.basic-card {
	background: #fff;
	border: 3px solid #000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: var(--mainRadius);
	margin: auto;
	display: block;
	width: 97%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
}
.calc-details {
	width: 550px;
	height: auto;
	margin: auto;
	margin-left: 85px;
}
#appName {
	margin: 0;
	font-size: 25px;
	color: #fff;
	font-weight: bold;
	margin-top: 7px;
}
#appSubTitle {
	margin-top: 5px;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.74);
}
.clear {
	background: transparent;
	border: none;
	box-shadow: none;
}
.no-padding {
	padding: 0;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.extra-space {
	width: 420px;
}
.app-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.app-card {
	width: 32%;
	height: 130px;
	text-align: center;
	background: rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 15px;
	border-radius: var(--mainRadius);
	transition: 0.333s;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.app-icon {
	width: 50px;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}
.app-name {
	color: rgba(255, 255, 255, 0.75);
	font-weight: 500;
}
.app-card:hover {
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.input-box {
	width: 100%;
}
input, select, textarea {
	background: #fff;
	border: 3px solid #000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: var(--mainRadius);
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 22px;
	font-weight: 600;
	margin-top: 4px;
}
textarea {
	height: 250px;
}
select {
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(https://static.thenounproject.com/png/427197-200.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position-x: 98%;
	background-position-y: center;
}
.input-box {
	margin-bottom: 10px;
}
label {
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	padding-left: 3px;
}
.block {
	display: block !important;
}
.large-text {
	font-size: 35px;
	font-weight: 800;
	color: var(--tertiaryColor);
}
.medium-text {
	font-size: 22px;
	font-weight: 600;
	color: var(--tertiaryColor);
}
.light {
	color: rgba(255, 255, 255, 0.75);
}
.lighter {
	color: rgba(255, 255, 255, 0.65);
}
.mini {
	font-size: 16px;
}
.fuel-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.half-tile, .third-tile, .quarter-tile, .three-quarter {
	padding-top: 25px;
	padding-bottom: 25px;
}
.half-tile {
	width: 50%;
	text-align: center;
}
.third-tile {
	width: 32.6%;
	text-align: center;
}
.quarter-tile {
	width: 25%;
	text-align: center;
}
.full-tile {
	width: 100%;
	text-align: center;
}
.three-quarter {
	width: 74%;
}
.small-img {
	display: block;
	margin: auto;
	height: 35px;
	filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}
#fuelTable {
	opacity: 0;
	transition: 0.333s;
}
.half {
	width: 49.5%;
	display: inline-block;
}
.half:nth-child(even) {
	float: right;
}
.right-side {
	float: right;
}
.light-border-top {
	padding-top: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.large-space {
	width: 100%;
	height: 250px;
}
.sticky {
	width: 100%;
	position: sticky;
	top: 5px;
	z-index: 10;
}
.flex {
	display: flex;
}
.dark-background {
	background: var(--mainColorDark);
	padding: 5px;
}
.radius {
	border-radius: var(--mainRadius)
}
.margin-bottom {
	margin-bottom: 10px;
}
.img-cont-tr {
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0);
}
#creatureImg {
	max-width: 300px;
	max-height: 200px;
	filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}
#creatureName {
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	margin-top: 5px!important;
	margin-bottom: 0px!important;
	text-transform: capitalize;
	display: block;
}
.next-button {
	width: 300px;
	background: var(--secondaryColor);
	margin: auto;
	display: block;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: var(--mainRadius);
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	cursor: pointer;
}
.submit-btn {
	background: var(--secondaryColor);
	display: block;
	color: #000;
	border: 3px solid #000;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	border-radius: var(--mainradius);
	padding: 10px;
	margin: auto;
	margin-bottom: 15px;
	width: 100%;
	max-width: 800px;
	margin-top: 15px;
	transition: all 0.333s;
	text-decoration: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.submit-btn svg {
	fill: #000;
	height: 22px;
	vertical-align: middle;
}
.submit-btn:hover {
	transform: translateY(-2px);
	filter: brightness(120%);
	box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}
#ad-div {
	position: absolute;
	bottom: 5px;
	right: 10px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.3);
}

.inline {
	display: inline-block;
}