::selection {
  background: transparent;
  color: var(--mainColorDark);
}
.title-bar {
  width: 100%;
  height: 10px;
  background: black;
}
* {
  -webkit-box-sizing: border-box;
  text-decoration: none;
  -mox-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid red;
  font-family: "Quicksand", sans-serif;
  z-index: 1;
}
*:focus {
  outline: none;
}
:root {
	--bodyTextColor: #1f2937;
	--textColor: #1f2937;
	--lightText: #6b7280;
	--mainRadius: 12px;
	--primary: #005ac5;
	--on-primary: #ffffff;
	--primary-container: #d7e2ff;
	--on-primary-container: #001944;
	--secondary: #006e17;
	--on-secondary: #ffffff;
	--secondary-container: #93f990;
	--on-secondary-container: #002203;
	--tertiary: #715d00;
	--on-tertiary: #ffffff;
	--tertiary-container: #ffe15f;
	--on-tertiary-container: #231b00;
	--error: #ba1b1b;
	--error-container: #ffdad4;
	--on-error: #ffffff;
	--on-error-container: #410001;
	--background: #fdfbff;
	--on-background: #1b1b1e;
	--surface: #fdfbff;
	--on-surface: #1b1b1e;
	--surface-variant: #e1e2ec;
	--on-surface-variant: #44464e;
	--outline: #75777f;
	--inverse-on-surface: #f2f0f4;
	--inverse-surface: #303033;
  --main-radius: 15px;
  --input-radius: 8px;
  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;
  --shadow-1: 0 1px 2px -1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
  --shadow-2: 0 3px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)), 0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
}
h3 {
  margin: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
}
.arkbuddy-app {
  background: var(--primary-container);
	color: var(--on-primary-container);
  border: 0px solid #000;
  width: 1000px;
  height: 700px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  display: flex;
  flex-wrap: wrap;
  border: 0px solid #000;
  border-radius: 12px;
}
.timer-app {
  background: var(--bodyColor);
  border: 0px solid #000;
  width: auto;
  height: auto;
  position: relative;
  border-radius: var(--mainRadius);
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  display: flex;
  flex-wrap: wrap;
  border: 0px solid #000;
}
.side-nav-bar {
  width: 410px;
  height: 650px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.logo-box {
  width: 100%;
  padding: 6px;
  padding-top: 15px;
  margin-bottom: 25px;
}
.logo-box img {
  width: 100px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.nav-btn {
  width: 85%;
  border-radius: 50px;
  height: 65px;
  text-align: left;
  flex-direction: column;
  color: var(--on-primary-container);
  font-size: 20px;
  font-weight: 600;
  padding-top: 7.5px;
  margin-bottom: 5px;
  padding-bottom: 7.5px;
  padding-left: 20px;
  transition: 0.44s;
  border: 3px solid transparent;
}
.nav-btn:hover {
  background: var(--secondary-container);
  border-color: var(--on-secondary-container);
  color: var(--on-primary-secondary) !important;
}
.selected {
  background: #77a1db;
  color: #fff;
  transition: 0.444s;
}
.nav-btn .far,
.nav-btn .fab {
  font-size: 20px;
  margin: 3px;
  margin-right: 10px;
}
.bottom {
  margin-top: auto;
  margin-bottom: 20px;
  
}
#app {
  width: 100%;
  height: 635px;
  /* min-height: 593px; */
  display: inline-block;
  padding: 10px;
  padding-top: 2px;
  margin-bottom: auto;
  overflow-y: scroll;
  margin-bottom: 55px;
}
#app {
  transition: all 1s;
}

#app.pre-animation {
  opacity:0;
}
#app::-webkit-scrollbar {
  width: 5px;
}

#app::-webkit-scrollbar-track {
  background: transparent;
}

#app::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: var(--mainRadius);
}
/* itemSearch */

#itemSearch::-webkit-scrollbar {
  width: 5px;
}

#itemSearch::-webkit-scrollbar-track {
  background: transparent;
}

#itemSearch::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: var(--main-radius);
}

#timerApp {
  width: 550px;
  height: 100%;
  display: inline-block;
  padding: 10px;
  padding-top: 2px;
  overflow: auto;
}
.ad-space {
  width: 438px;
  height: 86%;
  display: inline-block;
  position: relative;
}
.basic-card {
  
  border-radius: var(--mainRadius);
  margin: auto;
  display: block;
  width: 97%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  background: var(--surface);
  color: var(--on-surface);
	height: auto;
	width: 100%;
	max-width: 950px;
	/*   border: 1px solid var(--outline); */
	margin-bottom: 15px;
	box-shadow: var(--shadow-2);

}

.calc-details {
  width: 100%;
  height: auto;
  margin: auto;
  display: none;
}
.title-bar-text {
  font-size: 15px;
}
#appName {
  margin: 0;
  margin-left: 5px;
  font-weight: 700;
  letter-spacing: -0.025em;
}
#appSubTitle {
  margin-top: 5px;
  font-size: 18px;
  color: #484848;
  letter-spacing: -0.025em;
}
.clear {
  background: transparent;
  border: none;
  box-shadow: none;
}
.no-padding {
  padding: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.extra-space {
  width: 420px;
}
.app-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.app-card {
  width: 32.33%;
  height: 150px;
  text-align: center;
  background: var(--surface);
  color: var(--on-surface);
  box-shadow: var(--shadow-2);
  padding: 15px;
  border-radius: var(--mainRadius);
  transition: 0.333s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: 0.333s;
}
.app-card:hover {
  background: #ddf2ff;
  border-color: #448AFF;
  color: #448AFF !important;
}
#a:hover ~ #b {
  background: #ccc;
}
.app-card:hover .app-icon {
  animation: floating 2.5s infinite ease-in-out;
}
.app-icon {
  width: 50px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.app-name {
  color: #6b7280;
  font-weight: 600;
}

.input-box {
  width: 100%;
}
input,
select,
textarea {
  border-radius: var(--input-radius) var(--input-radius) 3px 3px;
  background: var(--surface-variant);
  color: var(--on-surface-variant);
  border-bottom: 2px solid var(--outline);
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  margin-top: 4px;
  transition: 0.333s;
  min-height: 52px;
}
input:focus,
select:focus,
textarea:focus {
  border-color: var(--primary);
  background: var(--primary-container);
  color: var(--on-primary-container)
}
input::selection,
textarea::selection {
  background: var(--mainColor);
  color: #fff;
}
textarea {
  height: 250px;
  resize: none;
}
select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(https://static.thenounproject.com/png/427197-200.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position-x: 98%;
  background-position-y: center;
}
.input-box {
  margin-bottom: 10px;
}
label {
  font-size: 17px;
  color: #6b7280;
  font-weight: 500;
  padding-left: 3px;
}
.block {
  display: block !important;
}
.inline {
  display: inline-block !important;
}
.large-text {
  font-size: 35px;
  font-weight: 600;
  color: #1f2937;
}
.section-title {
  margin: 0;
  font-size: 20px;
  color: #1f2937;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 5px;
}
.medium-text {
  font-size: 22px;
  font-weight: 600;
  color: var(--tertiaryColor);
}
.highlight {
  color: var(--tertiary-container);
  font-weight: 600;
}
.light {
  color: #6b7280;
  font-weight: 800;
}
.lighter {
  color: var(--bodyTextColor);
}
.mini {
  font-size: 16px;
}
.fuel-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}
.half-tile,
.third-tile,
.quarter-tile,
.three-quarter {
}
.half-tile {
  width: 50%;
  text-align: center;
}
.third-tile {
  width: 32.5%;
  text-align: center;
}
.quarter-tile {
  width: 25%;
  text-align: center;
}
.full-tile {
  width: 100%;
  text-align: center;
}
.three-quarter {
  width: 74%;
}
.small-img {
  display: block;
  margin: auto;
  height: 35px;
}
#fuelTable {
  opacity: 0;
  transition: 0.333s;
}
.half {
  width: 49.5%;
  display: inline-block;
}
.half:nth-child(even) {
  float: right;
}
.right-side {
  float: right;
}
.text-middle {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.light-border-top {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.large-space {
  width: 100%;
  height: 250px;
}
.sticky {
  position: sticky;
  top: 5px;
  z-index: 10;
}
.flex {
  display: flex;
}
.dark-background {
  background: var(--mainColorDark);
  padding: 5px;
}
.radius {
  border-radius: var(--mainRadius);
}
.margin-bottom {
  margin-bottom: 10px;
}
.img-cont-tr {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
}
#creatureImg {
  max-width: 300px;
  max-height: 200px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}
#creatureName {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: #6b7280;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  text-transform: capitalize;
  display: block;
}
.next-button {
  width: 300px;
  background: var(--tertiary-container);
  color: var(--on-tertiary-container);
  margin: auto;
  display: block;
  box-shadow: var(--shadow-1);
  border-radius: var(--main-radius);
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  border: 3px solid var(--on-tertiary-container);
}
.submit-btn {
  background: var(--primary-container);
  display: block;
  color: var(--on-primary-container);
  border: 3px solid var(--on-primary-container);
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  border-radius: var(--main-radius);
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
  width: 100%;
  max-width: 800px;
  margin-top: 15px;
  transition: all 0.333s;
  text-decoration: none;
  box-shadow: var(--shadow-1);
}
.settings-button {
  background: var(--secondary-container);
  display: block;
  color: var(--on-secondary-container);
  border: 3px solid var(--on-secondary-container);
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  border-radius: var(--main-radius);
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
  width: 100%;
  max-width: 225px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.333s;
  text-decoration: none;
}
.submit-btn svg {
  fill: #000;
  height: 22px;
  vertical-align: middle;
}
.submit-btn:hover {
  box-shadow: var(--shadow-2);
}
#ad-div {
  background-color: rgba(0, 0, 0, 0.3);
}

.inline {
  display: inline-block;
}
.block {
  display: block !important;
}

.side-bar-title {
  font-size: 17px;
  color: #1f2937;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
  padding-left: 3px;
  display: block;
  width: 100%;
}

.side-bar-tile {
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--mainRadius);
  text-align: center;
  flex-direction: column;
  color: rgba(47, 102, 154, 0.5);
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.333s;
  border: 2px solid transparent;
}
.side-bar-tile:hover {
  background: #f4f8fc;
  border: 2px solid #e5e7eb;
}
.side-bar-tile .far,
.side-bar-tile .fab {
  font-size: 22px;
  display: block;
  color: rgba(47, 102, 154, 0.95);
  margin: 3px;
}

.bottom-ad {
  bottom: 40px;
  right: 6px;
  margin: auto;
}

.tall-card {
  height: 1200px;
}

option {
  position: relative;
}

#appSubTitle::after {
  content: ":)";
  color: transparent;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fuel-name {
  display: block;
  color: var(--tertiaryColor);
}

#fuelConsumption,
#craftingSpeedText {
  color: var(--on-primary-container);
  font-weight: 700;
  /* Under line text; */
  text-decoration: underline;
}

.setting-notice {
  margin-top: 10px;
}

.data-table {
  background: #fff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  border-radius: var(--mainRadius);
  
  margin: auto;
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.data-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  color: #6b7280;
}
.data-header-title {
  width: 33%;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.data-line {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 600;
}
.data-line-title {
  width: 33%;
  color: #1f2937;
  font-size: 17px;
}
.inline-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.inline-img img {
  height: 22px;
  margin-right: 10px;
}

.backlight {
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 300px;
  position: relative;
}
.mini-icon {
  height: 40px;
}
.backlight:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: inherit;
  filter: blur(20px);
  z-index: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-center {
  margin: auto;
}
.center-vert-text {
  display: flex;
  justify-content: center;
}
.margin-top {
  margin-top: 15px;
}
.margin-bottom {
  margin-bottom: 15px;
}

.app-logo {
  width: 100px;
  margin: auto;
  display: block;
}
.hidden {
  display: none !important;
}

#aad-div {
  height: 300px;
  width: 400px;
  background: #f4f8fc;
  border: 2px solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotkey-btn:first-of-type {
  border-right: 0.25px solid var(--light-background);
}

.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 590px;
  height: 660px;
  overflow: hidden;
}

.mini-logo {
  height: 30px;
  display: inline-block;
}

.lds-ripple {
  display: block;
  position: relative;
  margin: auto;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--mainColor);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#itemSearch {
  flex-wrap: wrap;
  overflow: scroll;
  text-align: center;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--light-background);
  border-radius: var(--mainradius);
  width: 100%;
  box-sizing: content-box;
  margin: auto;
  color: #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0 0 var(--mainradius) var(--mainradius);
  display: none;
}
.itemSearchResult {
  width: 33.33%;
  margin: auto;
  display: inline-block;
  content-visibility: auto;
  padding: 15px;
  contain-intrinsic-size: 170px, 78px;
  transition: 0.333s;
  height: 125px;
  border: 2px solid transparent;
}
.itemSearchResult:hover {
  background: #ddf2ff;
  border-color: #448AFF;
  color: #448AFF !important;
}
.itemSearchResult img {
  height: 50px;
}
.mini {
  font-size: 13px;
  font-weight: 500;
}

.no-bottom-margin {
  margin-bottom: 0px;
}
.no-bottom-border {
  
}

.openList {
  display: block !important;
  max-height: 550px !important;
  border-radius: var(--mainRadius);
  border: 2px solid #e5e7eb;
  border-top: 0;
  margin-bottom: 15px !important;
  padding: 0;
}
#itemsListTotals {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: content-box;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.item-total {
  width: 25%;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

#itemsList:empty,
#itemsListTotals:empty {
  align-items: center;
}
#itemsList:empty:before,
#itemsListTotals:empty:before {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  content: "Items you add will appear here";
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.item-total img,
.itemInfoBox img,
.recipe-item-box img {
  width: 35px;
}
.itemInfoBox img {
  margin: auto;
  display: block;
  margin-bottom: 4px;
}
.tool-tip {
  position: relative;
  display: inline-block;
}
.tool-tip .tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: var(--mainRadius);
  padding: 10px;
  font-weight: 600;
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transform: translate(0%, 2.5em);
  transition: all 0.133s ease-in-out;
  background: #ddf2ff;
  border: 2px solid #448AFF;
  color: #448AFF !important;
}

.tool-tip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
  transform: translate(0%, -0.75em);
}
.itemInfoBox {
  width: 25%;
  max-width: 125px;
  padding-right: 10px;
  border-right: 2px solid #e5e7eb;
}
.itemListCard {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.recipe-box {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

.fakeInput {
  background: none;
  border-color: transparent;
  text-align: center;
  cursor: context-menu;
}
.fakeInput:focus {
  background: none;
  border-color: transparent;
}
.recipe-item-box {
  text-align: center;
  width: 20%;
  min-width: 10px;
}
.center-text {
  text-align: center;
}

.mini-input {
  font-size: 16px;
  padding: 5px;
}
.tab {
  display: flex;
  flex-direction: space-between;
}

.tablinks {
  padding: 10px;
  color: var(--on-primary-container);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
  margin: 10px;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: transparent;
  border: 2px solid transparent;
}
.active {
  background: var(--tertiary-container);
  border: 2px solid var(--on-tertiary-container);
  color: var(--on-tertiary-container);
}
#loadingPage {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #ddf2ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.removed {
  display: none !important;
}
.hideOverflow {
  overflow: hidden;
}

.searchResultAmount {
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 50px;
  margin: 10px;
  /* width: 50%; */

  font-weight: 700;
}
.success {
  background: var(--secondary-container);
  color: var(--on-secondary-container);
  border-color: var(--on-secondary-container);
}
.error {
  background: var(--error-container);
  color: var(--on-error-container);
  border-color: var(--on-error-container);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 3px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.slide-in-right {
  animation: slide-in-right 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-in-left {
  animation: slide-in-left 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hex-pattern {
  float: left;
  width: auto;
  width: 1008px;
  height: 700px;
  position: fixed;
  background-image: url(https://www.tristan.games/e/image/img/Hex_grid.png);
  background-size: contain;
  inset: 0;
  top: 10px;
  opacity: 2%;
  z-index: 0 !important;
}

.margin-top {
  margin-top: 10px;
}