::selection {
	background: transparent;
	/* WebKit/Blink Browsers */
}
::-moz-selection {
	background: transparent;
}
.title-bar {
	width: 100%;
	height: 10px;
	background: black;
}
* {
	-webkit-box-sizing: border-box;
	text-decoration: none;
	-mox-sizing: border-box;
	box-sizing: border-box;
	border: 0px solid red;
	font-family: 'Quicksand', sans-serif;
}
*:focus {
	outline: none
}
:root {
	--bodyColor: #f4f8fc;
	--mainradius: 5px;
	--mainColor: #2f669a;
	--mainColorDark: #25517c;
	--secondaryColor: #418855;
	--tertiaryColor: #b99a42;
	--errorColor: #AD3C3B;
	--mainRadius: 10px;
}
h3 {
	margin: 5px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
	font-size: 17px;
}
.arkbuddy-app {
	background: var(--bodyColor);
	border: 0px solid #000;
	width: 1073px;
	height: 674px;
	position: relative;
	border-radius: var(--mainRadius);
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
	display: flex;
	flex-wrap: wrap;
	border: 0px solid #000;
}
.side-nav-bar {
	background: #fff;
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 0;
	width: 85px;
	display: flex;
	border-right: 2px solid #e5e7eb;
	flex-direction: column;
	
}
.logo-box {
	width: 100%;
	padding: 6px;
	padding-top: 15px;
	margin-bottom: 25px;
}
.logo-box img {
	width: 100%;
	image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.nav-btn {
	width: 90%;
    height: 74.69px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--mainRadius);
    color: #fff;
    text-align: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    padding-top: 7.5px;
    margin-bottom: 5px;
    padding-bottom: 7.5px;
    transition: 0.44s;
}
.nav-btn:hover {
	background: var(--mainColor);
	color: rgba(255, 255, 255, 0.5);

}
.nav-btn:hover .far, .nav-btn .fab {
	font-size: 22px;
	display: block;
	color: rgba(255, 255, 255, 0.95);
	margin: 3px;
}
.nav-btn .far, .nav-btn .fab {
	font-size: 22px;
	display: block;
	color: rgba(0, 0, 0, 0.95);
	margin: 3px;
	transition: 0.444s;
}
.bottom {
	margin-top: auto;
	margin-bottom: 5px;
}
#app {
	width: 550px;
	height: 100%;
	min-height: 675px;
	display: inline-block;
	margin-left: 85px;
	padding: 10px;
	padding-top: 2px;
	overflow: auto;
}
.ad-space {
	width: 430px;
	height: 86%;
	display: inline-block;
	position: relative;
}
.basic-card {
	background: #fff;
	border: 0px solid #000;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
	border-radius: var(--mainRadius);
	border: 2px solid #e5e7eb;
	margin: auto;
	display: block;
	width: 97%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
    -webkit-animation: fadein 0.333s; /* Safari and Chrome */
}

.calc-details {
	width: 550px;
	height: auto;
	margin: auto;
	margin-left: 85px;
}
#appName {
	margin: 0;
	font-size: 25px;
	color: var(--mainColor);
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 5px;
}
#appSubTitle {
	margin-top: 5px;
	font-size: 15px;
	color: #484848;
}
.clear {
	background: transparent;
	border: none;
	box-shadow: none;
}
.no-padding {
	padding: 0;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.extra-space {
	width: 420px;
}
.app-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.app-card {
	width: 32%;
	height: 130px;
	text-align: center;
	background:#fff;
	border: 2px solid #e5e7eb;
	padding: 15px;
	border-radius: var(--mainRadius);
	transition: 0.333s;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	transition: 0.333s;
}
.app-card:hover {
	transform: translateY(-2px);
	transform: scaleZ(5px);
}
.app-icon {
	width: 50px;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}
.app-name {
	color:#8a8a8a;
	font-weight: 600;
}

.input-box {
	width: 100%;
}
input, select, textarea {
	background: #f4f8fc;
	border: 2px solid #e5e7eb;
	border-radius: var(--mainRadius) !important;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 22px;
	font-weight: 600;
	margin-top: 4px;
	transition: 0.333s;
}
input:focus, select:focus, textarea:focus {
	border-color: var(--mainColor);
}
textarea {
	height: 250px;
	resize: none;
}
select {
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(https://static.thenounproject.com/png/427197-200.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position-x: 98%;
	background-position-y: center;
}
.input-box {
	margin-bottom: 10px;
}
label {
	font-size: 17px;
	color: #6b7280;
	font-weight: 500;
	padding-left: 3px;
}
.block {
	display: block !important;
}
.large-text {
	font-size: 35px;
	font-weight: 800;
	color: #1f2937;
}
.medium-text {
	font-size: 22px;
	font-weight: 600;
	color: var(--tertiaryColor);
}
.light {
	color: #6b7280;
}
.lighter {
	color:#928f8f;
}
.mini {
	font-size: 16px;
}
.fuel-card {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	margin-bottom: 15px;
	justify-content: space-between;
}
.half-tile, .third-tile, .quarter-tile, .three-quarter {
	
}
.half-tile {
	width: 50%;
	text-align: center;
}
.third-tile {
	width: 32.5%;
	text-align: center;
}
.quarter-tile {
	width: 25%;
	text-align: center;
}
.full-tile {
	width: 100%;
	text-align: center;
}
.three-quarter {
	width: 74%;
}
.small-img {
	display: block;
	margin: auto;
	height: 35px;
}
#fuelTable {
	opacity: 0;
	transition: 0.333s;
}
.half {
	width: 49.5%;
	display: inline-block;
}
.half:nth-child(even) {
	float: right;
}
.right-side {
	float: right;
}
.text-middle {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.light-border-top {
	padding-top: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.large-space {
	width: 100%;
	height: 250px;
}
.sticky {
	width: 100%;
	position: sticky;
	top: 5px;
	z-index: 10;
}
.flex {
	display: flex;
}
.dark-background {
	background: var(--mainColorDark);
	padding: 5px;
}
.radius {
	border-radius: var(--mainRadius)
}
.margin-bottom {
	margin-bottom: 10px;
}
.img-cont-tr {
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0);
}
#creatureImg {
	max-width: 300px;
	max-height: 200px;
	filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}
#creatureName {
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	color: #6b7280;
	margin-top: 5px!important;
	margin-bottom: 0px!important;
	text-transform: capitalize;
	display: block;
}
.next-button {
	width: 300px;
	background: var(--secondaryColor);
	margin: auto;
	display: block;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: var(--mainRadius);
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	cursor: pointer;
}
.submit-btn {
	background: var(--mainColor);
	display: block;
	color: #fff;
	border: 0px solid #e5e7eb;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	border-radius: var(--mainradius);
	padding: 10px;
	margin: auto;
	margin-bottom: 15px;
	width: 100%;
	max-width: 800px;
	margin-top: 15px;
	transition: all 0.333s;
	text-decoration: none;
}
.submit-btn svg {
	fill: #000;
	height: 22px;
	vertical-align: middle;
}
.submit-btn:hover {
	transform: translateY(-2px);
	filter: brightness(120%);
	box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}
#ad-div {
	background-color: rgba(0, 0, 0, 0.3);
}

.inline {
	display: inline-block;
}

.side-bar-title {
	font-size: 17px;
	color: #484848;
	font-weight: 600;
	text-align: center;
	margin-bottom: 5px;
	padding-left: 3px;
	display: block;
	width: 100%;
}

.side-bar-tile {
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--mainRadius);
	text-align: center;
	flex-direction: column;
	color: rgba(47, 102, 154, 0.5);
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
	transition: 0.333s;
}
.side-bar-tile:hover {
	background: rgba(0,0,0, 0.1);
}
.side-bar-tile .far, .side-bar-tile .fab {
	font-size: 22px;
	display: block;
	color: rgba(47, 102, 154, 0.95);
	margin: 3px;
}

.bottom-ad {
	position: absolute;
	bottom: 40px;
	right: 6px;
	margin: auto;
}

.tall-card {
	height: 1200px;
}

option {
	position: relative;
}

#appSubTitle::after {
	content: ":)";
	color: transparent
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.fuel-name {
	display: block;
	color: var(--tertiaryColor);
}

#fuelConsumption, #craftingSpeedText {
	color: var(--tertiaryColor);
	font-weight: 800;
}

#itemSearch {
	flex-wrap: wrap;
	overflow: scroll;
	text-align: center; 
	height: auto;
	content-visibility: hidden;
  }
  .itemSearchBox {
	width: 33.33%;
	margin: auto;
	display: inline-block;
	content-visibility: auto;
	padding: 15px;
	contain-intrinsic-size: 170px, 78px;
	transition: 0.333s;
	height: 125px;
  }
  .itemSearchBox:hover {
	background: rgba(0,0,0,0.25);
  }
  .itemSearchBox img {
	height: 50px;
	filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
  }
  .mini {
	font-size: 14px;
	font-weight: 500;
  }
  
  #itemSearch {
	background: var(--light-background);
	  border-radius: var(--mainradius);
	  width: 97%;
	  max-width: 800px;
	  box-sizing: content-box;
	  margin: auto;
	  color: #000;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	border-radius: 0 0 var(--mainradius) var(--mainradius);
  
  }
  .setting-notice {
	  margin-top: 10px;
  }

  .data-table {
	background: #fff;
	border: 0px solid #000;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
	border-radius: var(--mainRadius);
	border: 2px solid #e5e7eb;
	margin: auto;
	display: block;
	padding: 10px;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.data-header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
	color: #6b7280;
}
.data-header-title {
	width: 33%;
	font-weight: 500;
	font-size: 17px
}
.data-line {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 600;
}
.data-line-title {
	width: 33%;
	color: #1f2937;
	font-size: 17px;
}
.inline-img {
	display: flex;
	  flex-direction: row;
	  align-items: center;
	  flex-wrap: wrap;
  }

.inline-img img {
	height: 22px;
	margin-right: 10px;
   }


   .backlight {
	background-repeat: no-repeat;
	background-size: contain;
	width: 30px;
	height: 300px;
	position: relative;
  }
  .mini-icon {
	  height: 40px;
  }
  .backlight:after {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	background: inherit;
	filter: blur(20px);
	z-index: 0;
  }

.center {
	display: flex; 
	justify-content: center; 
    align-items: center; 
}











